* {
  /*outline: solid red;*/
}

.navbar {
  /*outline: solid red;*/
  background-color: #f9f9f9;
  height: 150px;
}

.container {
  /*outline: solid green;*/
  height: 150px;
}

.navbar-header {
  /*outline: solid blue;*/
  height: 150px;
}

.navbar button {
  margin-top: 85px;
  margin-right: 50px;
}

.navbar img {
  /*outline: solid red;*/
  width: 120px;
}

.nav {
  margin-top: 85px;
  margin-left: 50px;
  font-size: 1.5em;
  font-weight: bold;
}

.dropdown-menu {
  margin-left: -10px;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .nav {
    margin-top: 0;
    margin-left: 0;
    padding: 0 35px;
    text-align: right;
  }

  .dropdown-menu {
    text-align: right;
  }
}
